[submodule "boo-gaming"]
	path = boo-gaming
	url = https://github.com/BOO1980/boo-gaming.git
[submodule "boo-testing"]
	path = boo-testing
	url = https://github.com/BOO1980/boo-testing.git
[submodule "boo-databases"]
	path = boo-databases
	url = https://github.com/BOO1980/boo-databases.git
[submodule "boo-programming-general"]
	path = boo-programming-general
	url = https://github.com/BOO1980/boo-programming-general.git
[submodule "boo-misc-software-frameworks"]
	path = boo-misc-software-frameworks
	url = https://github.com/BOO1980/boo-misc-software-frameworks.git
[submodule "boo-source-control"]
	path = boo-source-control
	url = https://github.com/BOO1980/boo-source-control.git
[submodule "boo-dungeons-and-dragons"]
	path = boo-dungeons-and-dragons
	url = https://github.com/BOO1980/boo-dungeons-and-dragons.git
[submodule "boo-self"]
	path = boo-self
	url = https://github.com/BOO1980/boo-self.git
