[submodule "boo-gaming"]
	path = boo-gaming
	url = https://github.com/BOO1980/boo-gaming.git
[submodule "boo-testing"]
	path = boo-testing
	url = https://github.com/BOO1980/boo-testing.git
[submodule "boo-databases"]
	path = boo-databases
	url = https://github.com/BOO1980/boo-databases.git
